/* ОСНОВНІ СТИЛІ */
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --fond-color:#FFFFFF;
    --secondary-fond-color:#2F303A;
    --buttons-fond-color:#F5F4FA; /*застосовується на бекгроунд Наша команда*/
    --contacts-color:rgba(255, 255, 255, 0.6);
}
body{
    font-family: 'Roboto', sans-serif;
    color:var(--primary-text-color);
    background-color:var(--fond-color);
    position: relative;
    width: 1600px;
    height: 2346px;
}
.logo{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.web{
    color: var(--accent-color);
}
.list{
    list-style: none;
}
/* СТИЛІ ДЛЯ СТУДІЯ */
/* Навігаці */
.site-nav .link{
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
}
.site-nav .link.current{
    color:var(--accent-color);
}
.contacts-nav .link {
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus{
    color:var(--accent-color);
}
/* Герой */
.hero{}
.hero .title{
    color:var(--secondary-fond-color);
    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button.secondary{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
/* Головна секція */
.section-title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.featurs.list .title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.featurs.list .text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.team.list .title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em
}
.team.list .text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
/* СТИЛІ ДЛЯ ПОРТФОЛІО */
/* Кнопки */
.button{
    color:var(--title-text-color);
    background-color:var(--fond-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button.primary{
    color:var(--title-text-color);
    background-color:var(--buttons-fond-color);
    border-color: transparent;
}
.button.secondary{
    color:var(--fond-color);
    background-color:var(--accent-color);
    border-color: transparent;
}
/* Список проектів */
.projects-title{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
/* Футер */
.page-footer {
    letter-spacing: 0.03em;
}